@use '../global-css-vars.scss' as *;

.page {
    padding: 1rem;
    color: $black;

    .logo {
        margin-bottom: 1rem;

        h1 {
            font-size: 2rem;
            font-weight: bold;
            color: $brand1;
            margin-bottom: 0;
        }

        h2 {
            margin-top: 0;
            font-size: 1.5rem;
            font-weight: bold;
            color: $brand2;
        }
    }

    .erro {
        color: $brand3;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 1rem;
    }

    form {
        margin-top: 1rem;

        .form-group {
            margin-bottom: 1rem;
        }

        .form-group input {
            display: block;
            border-radius: .5rem;
            border: 1px solid $brand1;
            padding: 0.5rem;
            font-size: 1.5rem;
            width: 100%;

            &:focus {
                outline: none;
                border-color: $brand2;
            }
        }

        .form-group label {
            font-size: 1.5rem;
            display: block;
            width: 100%;
        }

        .form-group button {
            border-radius: 0;
            border: 1px solid $brand1;
            padding: 0.5rem;
            font-size: 1.5rem;
            background-color: $brand1;
            color: $brand2;
            display: block;
            width: 90%;
            margin: 0 auto;

            &:focus {
                outline: none;
                border-color: $brand2;
            }
        }
    }
}